<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Nexo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<nav class="relative select-none bg-indigo-darker lg:flex lg:items-stretch w-full">
  <div class="flex flex-no-shrink items-stretch h-12">
          <a href="{{url_for('home')}}" class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-grey-dark">Home</a>
    <button class="block lg:hidden cursor-pointer ml-auto relative w-12 h-12 p-4">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
    </button>
  </div>
  <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
    <div class="lg:flex lg:items-stretch lg:justify-end ml-auto">
            <a href="{{url_for('list_train_pods')}}" class="flex-no-grow flex-no-shrink relative py-2 px-5 leading-normal text-white no-underline flex items-center bg-indigo-darkest rounded  hover:bg-grey-dark">List</a>
    </div>
  </div>
</nav>
        <div class="form-style-6 shadow-lg">
        <h1>BUILD</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.version.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.version() }}
        </p>
        <p>
            {{ form.github_user.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.github_user() }}
        </p>
        <p>
            {{ form.github_revision.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.github_revision() }}
        </p>
        <p>
            {{ form.github_repo.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.github_repo() }}
        </p>
        <p>
            {{ form.docker_user.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.docker_user() }}
        </p>
        <p>
            {{ form.train_name.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.train_name() }}
        </p>
        <p>
            {{ form.docker_image_name.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.docker_image_name() }}
        </p>
        <p>{{ form.build(class_='font-bold') }}</p>
    </form>
        </div>
</body>
</html>
