<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Nexo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
        <div class="form-style-6 shadow-lg rounded-lg">
        <h1>DEMO</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.query.label(class_='text-indigo-darker font-bold') }}<br>
            {{ form.query() }}
        </p>
        <p>{{ form.check(class_='font-bold') }}</p>
    </form>
        </div>
</body>
</html>
