<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <title>Nexo</title>
</head>
<body>
<nav class="relative select-none bg-indigo-darker lg:flex lg:items-stretch w-full">
  <div class="flex flex-no-shrink items-stretch h-12">
          <a href="{{url_for('home', _anchor='bottom')}}" class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-grey-dark">Home</a>
    <button class="block lg:hidden cursor-pointer ml-auto relative w-12 h-12 p-4">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
    </button>
  </div>
  <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
    <div class="lg:flex lg:items-stretch lg:justify-end ml-auto">
            <a href="{{url_for('list_train_pods')}}" class="flex-no-grow flex-no-shrink relative py-2 px-5 leading-normal text-white no-underline flex items-center bg-indigo-darkest rounded  hover:bg-grey-dark">List</a>
    </div>
  </div>
</nav>
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead class = "text-center">
        <tr>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Models</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for model  in statuses %}
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-indigo-dark font-bold">{{model}}</td>
          <td class="py-4 px-6 border-b border-grey-light rounded bg-grey-lighter">{{statuses[model]['status']}}</td>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>

