<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <title>Nexo</title>
</head>
<body>
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead class = "text-center">
        <tr>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Job</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Command</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Args</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Actions</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for train_job  in statuses %}
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-indigo-dark font-bold">{{train_job}}</td>
          <td class="py-4 px-6 border-b border-grey-light rounded bg-grey-lighter">{{statuses[train_job]['command']}}</td>
          <td class="py-4 px-6 border-b border-grey-light rounded bg-grey-lighter">{{statuses[train_job]['args']}}</td>
          <td class="py-4 px-6 border-b border-grey-light">
                  <a href="{{url_for('trainlog', train_name=train_job)}}" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-indigo hover:bg-indigo-dark">Logs</a>
          </td>
          <td class="py-4 px-6 border-b border-grey-light">{{statuses[train_job]['status']}}</td>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>

