<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Nexo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
        <div class="form-style-6 shadow-lg">
        <h1>TRAIN</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.version.label(class_='text-indigo-darker') }}<br>
            {{ form.version() }}
        </p>
        <p>
            {{ form.docker_user.label(class_='text-indigo-darker') }}<br>
            {{ form.docker_user() }}
        </p>
        <p>
            {{ form.train_name.label(class_='text-indigo-darker') }}<br>
            {{ form.train_name() }}
        </p>
        <p>
            {{ form.docker_image_name.label(class_='text-indigo-darker') }}<br>
            {{ form.docker_image_name() }}
        </p>
        <p>
            {{ form.command.label(class_='text-indigo-darker') }}<br>
            {{ form.command() }}
        </p>
        <p>
            {{ form.args.label(class_='text-indigo-darker') }}<br>
            {{ form.args() }}
        </p>
        <p>{{ form.train() }}</p>
    </form>
        </div>
</body>
</html>
